.timer {
	width: 400px;
	margin: 10% auto 0;
	text-align: center;
}

.time {
	font-size: 8rem;
}

.controls {
	width: 200px;
	margin: 15px auto 0;
	display: flex;
	justify-content: space-around;
}

button {
	font-size: 4rem;
	border: none;
	color: #3f51b5;
	cursor: pointer;
	width: 80px;
	text-transform: uppercase;
	padding: 8px;
}

button:focus {
	outline: none;
}

button:hover {
	background: #eeeeee;
}
