body {
	background-color: #e4e4e4;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23eeeeee' fill-opacity='0.46'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.timer {
	width: 400px;
	margin: 5% auto 0;
	text-align: center;
}

.time {
	font-size: 8rem;
}

.controls {
	width: 200px;
	margin: 15px auto 0;
	display: flex;
	justify-content: space-around;
}

button {
	font-size: 4rem;
	border: none;
	cursor: pointer;
	width: 80px;
	text-transform: uppercase;
	padding: 8px;
}

button:focus {
	outline: none;
}

button:hover {
	background: #eeeeee;
}

.about {
	width: 400px;
	margin: 10% auto 0;
	text-align: center;
}

.footerPad {
	padding-bottom: 25px;
}

.footerPad a {
	text-decoration: none;
}
